modules = ["nodejs-20", "postgresql-16", "python-3.11"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8089
externalPort = 3000

[[ports]]
localPort = 8090
externalPort = 3001

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Start App"

[[workflows.workflow]]
name = "Start App"
author = 43778578
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "npm run start"]
build = ["sh", "-c", "npm run build"]
