modules = ["nodejs-20"]
[[ports]]
localPort = 5000
externalPort = 80

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Start App"

[[workflows.workflow]]
name = "Start App"
author = 43778578
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "npm run start"]
build = ["sh", "-c", "npm run build"]
